*.pyc
*.rdb
*.idea
*keypair*
erl_crash*
database
description.txt
.DS_Store
logs/
media/
*heroku_*
*env/
*heroku_*
*env/
*celerybeat*
runtime.txt
*npm_debug.log
*keypair*
*erl_crash*
database
.DS_Store
var/
server_logs/
dependencies/
webpack-stats*
node_modules/
