amqp==1.4.9
anyjson==0.3.3
billiard==3.3.0.23
celery==3.1.24
dj-database-url==0.4.1
Django==1.10.1
django-el-pagination==3.0.1
django-webpack-loader==0.3.3
enum==0.4.6
Flask==0.10.1
gunicorn==19.6.0
itsdangerous==0.24
Jinja2==2.8
kombu==3.0.37
librabbitmq==1.6.1
lucene-querybuilder==0.2
MarkupSafe==0.23
meld3==1.0.2
neomodel==2.0.2
numpy==1.8.0
optional-django==0.3.0
Pillow==3.4.1
psycopg2==2.6.2
py2neo==2.0.7
python-dateutil==2.2
python-resize-image==1.1.10
pytz==2016.7
react==3.0.1
redis==2.10.5
requests==2.7.0
six==1.10.0
supervisor==3.3.1
ujson==1.35
virtualenv==15.0.3
Werkzeug==0.11.11
