<style type="text/css">
    .bottom-nav{
        width:90%;
        /*margin-right: calc(((100% - 1000px) * 1.6)/2.6);
        margin-left: calc((100% - 1000px)/2.6);*/
        padding-top: 5%
        height: 100%;
        margin: auto;
    }
    .ele>li>a {
        padding-left: 0px;
        text-align: center;
    }
    .nav-b {
        text-align: center;
    }
    .m-bottom-express-btn{
        width: 50%;
        font-size: -webkit-xxx-large;
        margin: 3px;
        height: 80px
    }
</style>
<nav class="navbar nav-b navbar-inverse nav-fixed navbar-fixed-bottom">
    <nav class="bottom-nav ">
       <button class="btn btn-primary btn-md m-bottom-express-btn launch-modal" data-toggle="modal" data-target="#expressModal">
                Express
       </button>
    </nav>
</nav>