{% if entry.DW %}
    <div class="discover-inline-wrapper">
        <div class="well-custom discover-half-box inline-left">
            <div onclick="window.open('{{entry.DW.0.URL}}','mywindow');" style="cursor: pointer;" class = "post-body">
                <div class="inline-discover-channel-article-wrapper">
                    <div class="dicover-url-image">
                        <img src="{{entry.DW.0.URL_IMAGEFILE}}" class="img-rounded"/>
                    </div>
                    <div class="discover-url-title">
                        {{entry.DW.0.URL_TITLE}}
                    </div>
                    <div class="discover-url-domain">
                        {{entry.DW.0.URL_DOMAIN}}
                    </div>
                </div>
            </div>
        </div>

        <div class="well-custom discover-half-box">
            <div onclick="window.open('{{entry.DW.3.URL}}','mywindow');" style="cursor: pointer;" class = "post-body">
                <div class="inline-discover-channel-article-wrapper">
                    <div class="dicover-url-image">
                        <img src="{{entry.DW.3.URL_IMAGEFILE}}" class="img-rounded"/>
                    </div>
                    <div class="discover-url-title">
                        {{entry.DW.3.URL_TITLE}}
                    </div>
                    <div class="discover-url-domain">
                        {{entry.DW.3.URL_DOMAIN}}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div onclick="window.open('{{entry.DW.2.URL}}','mywindow');" style="cursor: pointer;" class = "link-preview-box discover-link-preview well">
        <div class = "link-preview-img">
            <div class="link-preview-image-resize">
                <img src="{{entry.DW.2.URL_IMAGEFILE}}" class="img-rounded"/>
            </div>
        </div>
        <div class = "link-preview-details discover-link-preview-details">
            <div class="link-preview-title">
                {{entry.DW.2.URL_TITLE}}
            </div>
            <div class="link-parent-name">
                {{entry.DW.2.URL_DOMAIN}}
            </div>
        </div>
    </div>

{% endif %}

{% if entry.DE %}
    <div class="discover-inline-wrapper">
        <div class="well-custom discover-half-box inline-left">
            <div class="well-custom status-box inline-discover">
                <div class = "post-header">
                    <div class = "post-profile-img">
                        <div class="post-profile-image-resize">
                            <img src="/media/test2.jpg" class="img-rounded"/>
                        </div>
                    </div>
                    <div class = "post-profile-details inline-profile">
                        <div class="post_background">
                        </div>
                        <div class="profile-name">
                            Channel
                        </div>
                    </div>
                </div>
                <div class = "post-body">
                    <div class = "well post-contents">

                        <div onclick="window.open('{{entry.DE.0.URL}}','mywindow');" style="cursor: pointer;" class = "post-body">
                            <div class="inline-discover-channel-article-wrapper">
                                <div class="dicover-url-image">
                                    <img src="{{entry.DE.0.URL_IMAGEFILE}}" class="img-rounded"/>
                                </div>
                                <div class="discover-url-title">
                                   {{entry.DE.0.URL_TITLE}}
                                </div>
                                <div class="discover-url-domain">
                                   {{entry.DE.0.URL_DOMAIN}}
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class = "post-footer">
                    <div class = "well post-action inline-discover-footer">

                        <button type="button" class='btn btn-discover-white btn-up btn-primary btn-sm'>
                          <span class="glyphicon glyphicon-chevron-up"></span> {{entry.DE.0.TOTAL_UPVOTES}}
                        </button>

                        <button type="button" class='btn btn-discover-white btn-broadcast btn-primary btn-sm'>
                          <span class="glyphicon glyphicon-volume-up"></span> {{entry.DE.0.TOTAL_BROADCASTS}}
                        </button>

                        <button type="button" class='btn btn-discover-white btn-collect btn-primary btn-sm'>
                          <span class="glyphicon glyphicon-log-in"></span> {{entry.DE.0.TOTAL_COLLECTS}}
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <div class="well-custom discover-half-box">
            <div class="well-custom status-box inline-discover">
                <div class = "post-header">
                    <div class = "post-profile-img">
                        <div class="post-profile-image-resize">
                            <img src="/media/test2.jpg" class="img-rounded"/>
                        </div>
                    </div>
                    <div class = "post-profile-details inline-profile">
                        <div class="post_background">
                        </div>
                        <div class="profile-name">
                            Channel
                        </div>
                    </div>
                </div>
                <div class = "post-body">
                    <div class = "well post-contents">

                        <div onclick="window.open('{{entry.DW.0.URL}}','mywindow');" style="cursor: pointer;" class = "post-body">
                            <div class="inline-discover-channel-article-wrapper">
                                <div class="dicover-url-image">
                                    <img src="{{entry.DE.1.URL_IMAGEFILE}}" class="img-rounded"/>
                                </div>
                                <div class="discover-url-title">
                                     {{entry.DE.1.URL_TITLE}}
                                </div>
                                <div class="discover-url-domain">
                                    {{entry.DE.1.URL_DOMAIN}}
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class = "post-footer">
                    <div class = "well post-action inline-discover-footer">

                        <button type="button" class='btn btn-discover-white btn-up btn-primary btn-sm'>
                          <span class="glyphicon glyphicon-chevron-up"></span> 1.2K
                        </button>

                        <button type="button" class='btn btn-discover-white btn-broadcast btn-primary btn-sm'>
                          <span class="glyphicon glyphicon-volume-up"></span> 161
                        </button>

                        <button type="button" class='btn btn-discover-white btn-collect btn-primary btn-sm'>
                          <span class="glyphicon glyphicon-log-in"></span> 29
                        </button>

                    </div>
                </div>
            </div>
        </div>
    </div>

{% endif %}

{% if entry.DA %}

<div class="well-custom status-box">
    <div class = "post-header">
        <div class = "post-profile-img">
            <div class="post-profile-image-resize">
                <img src="/media/test2.jpg" class="img-rounded"/>
            </div>
        </div>
        <div class = "post-profile-details">
            <div class="post_background">
            </div>
            <div class="profile-name">
               {{entry.DA.0.EXPRESSION_OWNER}}
            </div>
        </div>
    </div>
    <div class = "post-body">
        <div class = "well post-contents">
            <div onclick="window.open('{{entry.DA.0.URL}}','mywindow');" style="cursor: pointer;" class = "link-preview-box well">
                <div class = "link-preview-img">
                    <div class="link-preview-image-resize">
                        <img src="{{entry.DA.0.URL_IMAGEFILE}}" class="img-rounded"/>
                    </div>
                </div>
                <div class = "link-preview-details">
                    <div class="link-preview-title">
                         {{entry.DA.0.URL_TITLE}}
                    </div>
                    <div class="link-parent-name">
                        {{entry.DA.0.URL_DOMAIN}}
                    </div>
                </div>
            </div>


        </div>
    </div>
    <div class = "post-footer">
        <div class = "well post-action">

            <button type="button" class='btn btn-express-white btn-up btn-primary btn-sm'>
              <span class="glyphicon glyphicon-chevron-up"></span> {{entry.DA.0.TOTAL_UPVOTES}}
            </button>

             <button type="button" class='btn btn-express-white btn-discuss btn-primary btn-sm'>
              <span class="glyphicon glyphicon-comment"></span> {{entry.DA.0.TOTAL_DISCUSSIONS}}
            </button>

            <button type="button" class='btn btn-express-white btn-broadcast btn-primary btn-sm'>
              <span class="glyphicon glyphicon-volume-up"></span> {{entry.DA.0.TOTAL_BROADCASTS}}
            </button>

            <button type="button" class='btn btn-express-white btn-collect btn-primary btn-sm'>
              <span class="glyphicon glyphicon-log-in"></span> {{entry.DA.0.TOTAL_COLLECTS}}
            </button>
        </div>
    </div>
</div>

    <div class="discover-inline-wrapper">
        <div class="well-custom discover-half-box inline-left">
            <div onclick="window.open('{{entry.DW.0.URL}}','mywindow');" style="cursor: pointer;" class = "post-body">
                <div class="inline-discover-channel-article-wrapper">
                    <div class="dicover-url-image">
                        <img src="/media/test2.jpg" class="img-rounded"/>
                    </div>
                    <div class="discover-url-title">
                         {{entry.DA.1.PERSON_NAME}}
                    </div>
                </div>
            </div>
        </div>

        <div class="well-custom discover-half-box">
            <div onclick="window.open('{{entry.DW.3.URL}}','mywindow');" style="cursor: pointer;" class = "post-body">
                <div class="inline-discover-channel-article-wrapper">
                    <div class="dicover-url-image">
                        <img src="/media/test2.jpg" class="img-rounded"/>
                    </div>
                    <div class="discover-url-title">
                        {{entry.DA.2.CHANNEL_NAME}}
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endif %}