<style type="text/css">

    .topic-side-follow{
      position: relative;
      margin-bottom: 0px;
      padding: 0px;
      width: 100%;
    }
    .left-profile-img{
      width: 50px;
      height : 50px;
      display: inline-block;
    }
    .left-profile-image-resize img{
      vertical-align: top;
      width: 50px; /* you can use % */
      height: 50px;
    }
    .topic-side-follow-info{
      margin: 0px;
      padding: 0px;
      display: inline-block;
      vertical-align: top;
      width: 85%;
      height: 100%;
      border: 0px;
      font-size: smaller;
    }
    .follow-button{
      position: absolute;
      display: inline-block;
      vertical-align: top;
      color: black;
      background-color: rgba(201, 206, 210, 0.55);
      width: 15%;
      height: 100%;
      top: 0;
      bottom: 0;
      border-radius: 3px;
      text-align: center;
      padding-top:12px;
    }
    .follow-button:hover{
      color: #fff;
      background-color: #337ab7;
    }
    .topic-side-follow-info-head{
      margin-bottom: 0px;
      padding: 0px;
      -webkit-border-radius:0px;
      border-radius: 0px;
      border: none !important;
    }
    .left-topic-follow-resize{
      width: 50px;
      height : 50px;
      display: inline-block;
    }
    .left-topic-follow-resize img{
      vertical-align: top;
      display: inline-block;
      width: 50px; /* you can use % */
      height: 50px;
    }
    .left-follow-topic-name{
      vertical-align: top;
      display: inline-block;
      width: calc(100% - 65px); /* you can use % */
      height: 100%;
      border: none !important;
      margin-top: 5px;
    }
    .btn-left-topic-menu{
      /*width: 24.26%;*/
      margin-top: 5px;
      width: 100%;
      background-color: rgba(201, 206, 210, 0.55);
      color: black;
      border: 0px;
    }
    .carousel-slide{
      width: 8%;
    }
    .discover-mobile{
      margin-bottom: 0px;
      padding: 5px;
    }
    .discover-mobile-side{
      margin-bottom: 0px;
      display: inline-block;
      padding: 0px;
      width: 48.7%;
    }

</style>

<div class="well">
Discover</br>
    <div id="myCarousel" class="carousel fdi-Carousel slide">
     <!-- Carousel items -->
        <div class="carousel fdi-Carousel slide" id="eventCarousel" data-interval="0">
            <div class="carousel-inner onebyone-carosel">
                <div class="item active">
                    <div class="col-md-4 img_slider">

                          <div class="well discover-mobile">
                                <div class="well discover-mobile-side">


                                      <div class="well topic-side-follow">
                                          <div class="topic-side-follow-info">
                                            <div class="well topic-side-follow-info-head">
                                              <div class="left-topic-follow-resize">
                                                  <img src="https://s3.ap-south-1.amazonaws.com/the-thing/media/test2.jpg" class="img-rounded"/>
                                              </div>
                                              <div class="left-follow-topic-name">
                                                Greece
                                              </div>
                                            </div>
                                            <div class="well topic-side-follow-info-head">
                                            Old Greece
                                            </div>
                                          </div>
                                          <div onclick="window.open('http://127.0.0.1:8000','mywindow');" style="cursor: pointer;" class="follow-button">
                                            T
                                          </div>
                                      </div>

                                </div>
                                <div class="well discover-mobile-side">


                                      <div class="well topic-side-follow">
                                          <div class="topic-side-follow-info">
                                            <div class="well topic-side-follow-info-head">
                                              <div class="left-topic-follow-resize">
                                                <img src="https://s3.ap-south-1.amazonaws.com/the-thing/media/test2.jpg" class="img-rounded"/>
                                              </div>
                                              <div class="left-follow-topic-name">
                                                Greece
                                              </div>
                                            </div>
                                            <div class="well topic-side-follow-info-head">
                                            Old Greece
                                            </div>
                                          </div>
                                          <div onclick="window.open('http://127.0.0.1:8000','mywindow');" style="cursor: pointer;" class="follow-button">
                                            T
                                          </div>
                                      </div>


                                </div>
                              </div>


                    </div>
                </div>


                <div class="item">
                    <div class="col-md-4 img_slider">



                      <div class="well discover-mobile">
                        <div class="well discover-mobile-side">


                              <div class="well topic-side-follow">
                                  <div class="topic-side-follow-info">
                                    <div class="well topic-side-follow-info-head">
                                      <div class="left-topic-follow-resize">
                                        <img src="https://s3.ap-south-1.amazonaws.com/the-thing/media/test2.jpg" class="img-rounded"/>
                                      </div>
                                      <div class="left-follow-topic-name">
                                        Greece
                                      </div>
                                    </div>
                                    <div class="well topic-side-follow-info-head">
                                    Old Greece
                                    </div>
                                  </div>
                                  <div onclick="window.open('http://127.0.0.1:8000','mywindow');" style="cursor: pointer;" class="follow-button">
                                    T
                                  </div>
                              </div>

                        </div>
                        <div class="well discover-mobile-side">


                              <div class="well topic-side-follow">
                                  <div class="topic-side-follow-info">
                                    <div class="well topic-side-follow-info-head">
                                      <div class="left-topic-follow-resize">
                                        <img src="https://s3.ap-south-1.amazonaws.com/the-thing/media/test2.jpg" class="img-rounded"/>
                                      </div>
                                      <div class="left-follow-topic-name">
                                        Greece
                                      </div>
                                    </div>
                                    <div class="well topic-side-follow-info-head">
                                    Old Greece
                                    </div>
                                  </div>
                                  <div onclick="window.open('http://127.0.0.1:8000','mywindow');" style="cursor: pointer;" class="follow-button">
                                    T
                                  </div>
                              </div>


                        </div>
                      </div>




                    </div>
                </div>


                <div class="item">
                    <div class="col-md-4 img_slider">


                        <div class="well discover-mobile">
                        <div class="well discover-mobile-side">


                              <div class="well topic-side-follow">
                                  <div class="topic-side-follow-info">
                                    <div class="well topic-side-follow-info-head">
                                      <div class="left-topic-follow-resize">
                                        <img src="https://s3.ap-south-1.amazonaws.com/the-thing/media/test2.jpg" class="img-rounded"/>
                                      </div>
                                      <div class="left-follow-topic-name">
                                        Greece
                                      </div>
                                    </div>
                                    <div class="well topic-side-follow-info-head">
                                    Old Greece
                                    </div>
                                  </div>
                                  <div onclick="window.open('http://127.0.0.1:8000','mywindow');" style="cursor: pointer;" class="follow-button">
                                    T
                                  </div>
                              </div>

                        </div>
                        <div class="well discover-mobile-side">


                              <div class="well topic-side-follow">
                                  <div class="topic-side-follow-info">
                                    <div class="well topic-side-follow-info-head">
                                      <div class="left-topic-follow-resize">
                                        <img src="https://s3.ap-south-1.amazonaws.com/the-thing/media/test2.jpg" class="img-rounded"/>
                                      </div>
                                      <div class="left-follow-topic-name">
                                        Greece
                                      </div>
                                    </div>
                                    <div class="well topic-side-follow-info-head">
                                    Old Greece
                                    </div>
                                  </div>
                                  <div onclick="window.open('http://127.0.0.1:8000','mywindow');" style="cursor: pointer;" class="follow-button">
                                    T
                                  </div>
                              </div>


                        </div>
                      </div>


                    </div>
                </div>

                <style type="text/css">
                  .carousel-sign{
                    font-size: larger;
                    color: black;
                    padding-top: 20px;
                  }
                  .ca-left{
                     padding-right: 20px;
                  }
                  .ca-right{
                      padding-left: 20px;
                  }
                </style>
            </div>
            <a class="left carousel-slide carousel-control carousel-sign ca-left" href="#eventCarousel" data-slide="prev"><</a>
            <a class="right carousel-slide carousel-control carousel-sign ca-right" href="#eventCarousel" data-slide="next">></a>
        </div>
        <!--/carousel-inner-->
    </div><!--/myCarousel-->
</div><!--/well-->
<!--             </div>
        </div> -->