{% load staticfiles %}
<style type="text/css">
.mobileModal-dialog{
    width: 98%;
    margin: auto;
    margin-top: 5%;
}
.mobile-form-control-tags{
    display: block;
    width: 100%;
    padding: 6px 12px;
    font-size: 25px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 20px;
}
.mobile-form-control{
    display: block;
    width: 100%;
    padding: 6px 12px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 5px;
}
.launch-modal {
    margin: 20px;
}
.m-modal-footer{
    background-color: rgba(0, 0, 0, 0.1);
    text-align: center;
    padding: 3px;
    height: 100px;
}
.mobile-modal-express-btn{
    width: 50%;
    font-size: xx-large;
    height: 90%;
    margin-top: 5px;
    margin-bottom: 3px;
    background-color:#337ab7;
}
.mobile-modal-header{
    background-color: #337ab7;
    color: white;
    height: 80px;
    font-size: xx-large;
}
textarea#textareaID1{
    width: 100%;
    height:240px;
    border-color: rgba(0,0,0,0.2);
    font-size: xx-large;
    margin-bottom: 20px;
}
textarea#tagareaID1{
    width: 100%;
    height: 80px;
    border-color: rgba(0,0,0,0.2);
    font-size: xx-large;
    margin-bottom: 20px;
}
.express-link{
    width: 40%;
    display: inline-block;
    vertical-align: top;
}
.express-elements{
    /*display: block;*/
}
</style>



<script async type="text/javascript" src=" {% static 'js/bootstrap-linkpreview.js' %}"></script>
<script type="text/javascript" src=" {% static 'js/fileinput.js' %}"></script>
<link rel="stylesheet" type="text/css" href=" {% static 'css/bootstrap-linkpreview.css' %}">


<!-- Modal 1 -->
<div class="modal fade" id="expressModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="mobileModal-dialog">
        <div class="modal-content">

            <div class="modal-header mobile-modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">X</button>
                <div class="modal-title" id="myModalLabel">Express youself!</div>
            </div>

            <form id="post_form" action="/express/update/" method="post" enctype="multipart/form-data">

                {% csrf_token %}
                <div class="modal-body">
                    <!-- <input type="textarea" id="tagareaID1" class="mobile-form-control-tags" placeholder="Tag it"> -->
                    <textarea id="tagareaID1" placeholder="Mention some streams"></textarea>

                    <!-- <textarea id="textareaID1" class="mobile-form-control" placeholder="How's it going?"></textarea> -->

                    <textarea id="textareaID1" placeholder="How's it going?"></textarea>

                    <div id="preview-container-parent">
                        <div id="preview-container"></div>
                    </div>

                    <div class="express-elements">
                        <input id="input-20" name= "file" type="file" value="Image">
                    </div>

                </div>

                </br>
                <div class="modal-footer m-modal-footer">
                    <!-- <button id = "closebutton" type="button" class="btn btn-primary" data-dismiss="modal">Discard</button> -->
                    <input type="submit" value="Express!" class="btn btn-primary mobile-modal-express-btn">
                </div>

            </form>

        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<script>
$('#expressModal').on('show.bs.modal', function () {
  $('#textareaID1').focus();
})
$(document).on("hidden.bs.modal", ".modal:not(.local-modal)", function (e) {
    $(this).find('form').trigger('reset');
    $('#preview-container').remove();
    $('#preview-container-parent').append('<div id=' + '"preview-container"' + '></div>');
});
$(document).on('ready', function() {
    $("#input-20").fileinput({
        browseClass: "btn btn-primary btn-block",
        showCaption: false,
        showRemove: false,
        showUpload: false
    });
});
// window.onload=function(){
//   $('#expressModal').on('shown.bs.modal', function () {
//       var elem = document.getElementById('reverse_scroll');
//       elem.scrollTop = elem.scrollHeight;
//   });
// }
</script>
<script type="text/javascript" src=" {% static 'js/main.js' %}"></script>
<script type="text/javascript" src=" {% static 'js/fileinput.js' %}"></script>

<script id="loadcss">
    loadCSS( "{% static 'mobile/css/m-fileinput.css' %}");
</script>