{% load staticfiles %}
<script type="text/javascript" src=" {% static 'mobile/js/jquery.js' %}"></script>


<div class="well" id="content">

    <div class="well status-box">
      Hey, Nirlendu!
    </div>

    {% include page_template %}

    {% block js %}
        <script src="{% static 'js/el-pagination.js' %}"></script>
        <script>
            $.endlessPaginate({
                paginateOnScroll: true,
                paginateOnScrollMargin: 20,
            });
        </script>
    {% endblock %}
    </br>
</div>