{% load el_pagination_tags %}

{% paginate Expressions %}
{% for entry in Expressions %}


<div class="well-custom status-box">
    <div class = "post-header">
        <div class = "post-profile-img">
            <div class="post-profile-image-resize">
                <img src="/media/test2.jpg" class="img-rounded"/>
            </div>
        </div>
        <div class = "post-profile-details">
            <div class="post_background">
            </div>
            <div class="profile-name">
                {{entry.EXPRESSION_OWNER}}
            </div>
            <div class="topic-name">
                {{entry.CHANNEL.0}}
            </div>
        </div>
    </div>
    <div class = "post-body">
        <div class = "well post-contents">
            <div class="post-text-box">
                {{entry.EXPRESSION_CONTENT}}
            </div>

            {% if entry.EXPRESSION_IMAGE %}
                <div class="post-image-resize">
                    <img src="{{entry.EXPRESSION_IMAGE}}" class="img-rounded"/>
                </div>
            {% endif %}

            {% if entry.URL_TITLE %}
                {% if entry.URL_IMAGEFILE %}
                    <div onclick="window.open('{{entry.URL}}','mywindow');" style="cursor: pointer;" class = "link-preview-box well">
                        <div class = "link-preview-img">
                            <div class="link-preview-image-resize">
                                <img src="{{entry.URL_IMAGEFILE}}" class="img-rounded"/>
                            </div>
                        </div>
                        <div class = "link-preview-details">
                            <div class="link-preview-title">
                                {{entry.URL_TITLE}}
                            </div>
                            <div class="link-parent-name">
                                {{entry.URL_DOMAIN}}
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endif %}

        </div>
    </div>
    <div class = "post-footer">
        <div class = "well post-action">
            <button type="button" class='btn btn-express-white btn-up btn-primary btn-sm'>
              <span class="glyphicon glyphicon-chevron-up"></span>{{entry.TOTAL_UPVOTES}}
            </button>

             <button type="button" class='btn btn-express-white btn-discuss btn-primary btn-sm'>
              <span class="glyphicon glyphicon-comment"></span> {{entry.TOTAL_DISCUSSIONS}}
            </button>

            <button type="button" class='btn btn-express-white btn-broadcast btn-primary btn-sm'>
              <span class="glyphicon glyphicon-volume-up"></span> {{entry.TOTAL_BROADCASTS}}
            </button>

            <button type="button" class='btn btn-express-white btn-collect btn-primary btn-sm'>
              <span class="glyphicon glyphicon-log-in"></span> {{entry.TOTAL_COLLECTS}}
            </button>
        </div>
    </div>
</div>


{% endfor %}
{% show_more %}