{% load staticfiles %}
<style type="text/css">
    #content {
        position: static;
        width: 100%;
        min-width: 100%;
        overflow-x: hidden;
        display: inline-block;
        vertical-align: top;
        padding-left: 0px;
        padding-right: 0px;
        border-width: 0px;
        padding-top: 6%;
    }
    .status-box{
        padding : 1.5%;
        margin-bottom: 15px;
    }
    .well-custom{
        border: 1px solid;
        border-color: inherit;
        border-radius: 5px;
        padding-bottom: 5px;
    }
    .post-header{
        width: 100% ;
        height : 70px;
    }
    .post-profile-img{
        width: 70px;
        height : 70px;
        display: inline-block;
    }
    .post-profile-details{
        vertical-align: top;
        height : 100px;
        /*width: 89%;*/
        width: calc(100% - 85px);
        display: inline-block;
        border: thin;
        font-size: smaller;
    }
    .post-profile-image-resize img{
        vertical-align: top;
        width: 70px; /* you can use % */
        height: 70px;
    }
    .post_background{
        height:30px;
        width:100%;
        background-color: rgba(0, 0, 0, 0.06);
        border-radius: 4px;
        margin-left: 5px;
    }
    .profile-name{
        height:50px;
        width:50%;
        padding-left: 5px;
        display: inline-block;
    }
    .topic-name{
        height:50px;
        width:48%;
        /*padding-right: 5px;*/
        text-align: right;
        display: inline-block;
    }
    .post-profile-name{
        height:30px;
        width:100%;
    }
    .post-body{
        margin-top: 10px;
        margin-bottom: 5px;
        width: inherit;
    }
    .post-contents{
        margin-bottom: 0px;
        padding: 5px;
        padding-right: 0px;
        border: 0px;
    }
    .post-image-resize img{
        vertical-align: top;
        width: 100%; /* you can use % */
        height: auto;
        /*margin-left: 5px;*/
    }
    .post-text-box{
        /*padding: 5px;*/
        margin-bottom: 10px;
        margin-top: 5px;
    }
    .post-footer{
        margin-top: 5px;
        margin-bottom: 5px;
        width: inherit;
    }
    .post-action{
        border: 0px;
        margin-bottom: 0px;
        margin-right: 0px;
        margin-left: 5px;
        padding: 0px;
    }
    .btn-upvote{
        /*width: 24.26%;*/
        width: calc(25% - 10px);
        background-color: white;
        color: black;
        font-size: x-large;
    }
    .link-preview-box{
        /*padding-top: 0px;
        padding-bottom: 0px;*/
        border: 0px;
        padding: 0px;
        margin-bottom: 5px;
    }
    .link-preview-box:hover {
        background-color: rgba(0, 0, 0, 0.04);
    }
    .link-preview-img{
        width: 200px;
        height : 200px;
        display: inline-block;
        vertical-align: top;
    }
    .link-preview-details{
        vertical-align: top;
        height : 200px;
        /*width: 79.2%;*/
        width: calc(100% - 220px);
        display: inline-block;
        border: 0px;
        background-color: rgba(0, 0, 0, 0.04);
    }
    .link-preview-image-resize img{
        vertical-align: top;
        width: 200px; /* you can use % */
        height: 200px;
    }
    .link-preview-title{
        padding-top: 5px;
        padding-left: 5px;
        height:150px;
        width:100%;
    }
    .link-parent-name{
        height:50px;
        width:100%;
        padding-right: 5px;
        text-align: right;
    }
    /*div.img_resize img{
        width: 200px;
        height: auto;
    }
    div.img_slider img{
    width: auto;
    height: 200px;
    }
    div.content-entry {
    height : 70%;
    top: 60px;
    }*/
    .carousel-inner.onebyone-carosel { margin: auto; width: 90%; }
    .onebyone-carosel .active.left { left: -33.33%; }
    .onebyone-carosel .active.right { left: 33.33%; }
    .onebyone-carosel .next { left: 33.33%; }
    .onebyone-carosel .prev { left: -33.33%; }
 </style>

<div class="well" id="content">

    <div class="well status-box">
      Hey, Nirlendu!
    </div>

    <!--{% include "../commons/m-feed-elements.html" %}-->

    {% include page_template %}

    {% block js %}
        <script src="{% static 'js/el-pagination.js' %}"></script>
        <script>
            $.endlessPaginate({
                paginateOnScroll: true,
                paginateOnScrollMargin: 20,
            });
        </script>
    {% endblock %}
    {% include "../commons/m-discover-box.html" %}
    </br>
</div>
<script type="text/javascript">
    $(document).ready(function() {
     $("#myCarousel").swiperight(function() {
        $(this).carousel('prev');
        });
     $("#myCarousel").swipeleft(function() {
        $(this).carousel('next');
   });
});
</script>