{% load el_pagination_tags %}

{% paginate Expressions %}
{% for entry in Expressions %}

<div class="well-custom status-box">
    <div class = "post-header">
        <div class = "post-profile-img">
            <div class="post-profile-image-resize">
                <img src="/media/test2.jpg" class="img-rounded"/>
            </div>
        </div>
        <div class = "post-profile-details">
            <div class="post_background">
            </div>
            <div class="profile-name">
                {{entry.expression_owner}}
            </div>
            <div class="topic-name">
                Topic Name!
            </div>
        </div>
    </div>
    <div class = "post-body">
        <div class = "well post-contents">
            <div class="post-text-box">
                {{entry.expression_content}}
            </div>

            {% if entry.expression_image %}
                <div class="post-image-resize">
                    <img src="{{entry.expression_image}}" class="img-rounded"/>
                </div>
            {% endif %}

            {% if entry.expression_link_title %}

                {% if entry.expression_link_image %}
                    <div onclick="window.open('{{entry.expression_link}}','mywindow');" style="cursor: pointer;" class = "link-preview-box well">
                        <div class = "link-preview-img">
                            <div class="link-preview-image-resize">
                                <img src="{{entry.expression_link_image}}" class="img-rounded"/>
                            </div>
                        </div>
                        <div class = "link-preview-details">
                            <div class="link-preview-title">
                                {{entry.expression_link_title}}
                            </div>
                            <div class="link-parent-name">
                                {{entry.parent_domain}}
                            </div>
                        </div>
                    </div>
                {% endif %}

                {% if not entry.expression_link_image %}
                    <div onclick="window.open('{{entry.expression_link}}','mywindow');" style="cursor: pointer;" class = "link-preview-box well">
                        <div class = "link-preview-details-max">
                            <div class="link-preview-title">
                                {{entry.expression_link_title}}
                            </div>
                            <div class="link-parent-name">
                                {{entry.parent_domain}}
                            </div>
                        </div>
                    </div>
                {% endif %}

            {% endif %}
        </div>
    </div>
    <div class = "post-footer">
        <div class = "well post-action">
            <input type='button' class='btn btn-upvote btn-primary btn-sm' value='Up'/>
            <input type='button' class='btn btn-upvote btn-primary btn-sm' value='Discuss'/>
            <input type='button' class='btn btn-upvote btn-primary btn-sm' value='Broadcast'/>
            <input type='button' class='btn btn-upvote btn-primary btn-sm' value='Down'/>
        </div>
    </div>
</div>


{% endfor %}
{% show_more %}