<div class="well-custom status-box">
    <div class = "post-header">
        <div class = "post-profile-img">
            <div class="post-profile-image-resize">
                <img src="/media/test2.jpg" class="img-rounded"/>
            </div>
        </div>
        <div class = "post-profile-details">
            <div class="post_background">
            </div>
            <div class="profile-name">
                Profile Name!
            </div>
            <div class="topic-name">
                Topic Name!
            </div>
        </div>
    </div>
    <div class = "post-body">
        <div class = "well post-contents">
            <div class="post-text-box">
                Hey, this is my first status!
            </div>
            <!-- <div class="post-image-resize">
                <img src="/media/test2.jpg" class="img-rounded"/>
            </div> -->
            <div onclick="window.open('http://127.0.0.1:8000','mywindow');" style="cursor: pointer;" class = "link-preview-box well">
                <div class = "link-preview-img">
                    <div class="link-preview-image-resize">
                        <img src="/media/test2.jpg" class="img-rounded"/>
                    </div>
                </div>
                <div class = "link-preview-details">
                    <div class="link-preview-title">
                        Preview Title
                    </div>
                    <div class="link-parent-name">
                        Preview Parent
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class = "post-footer">
        <div class = "well post-action">
            <input type='button' class='btn btn-upvote btn-primary btn-sm' value='Upvote'/>
            <input type='button' class='btn btn-upvote btn-primary btn-sm' value='Downvote'/>
            <input type='button' class='btn btn-upvote btn-primary btn-sm' value='Discuss'/>
            <input type='button' class='btn btn-upvote btn-primary btn-sm' value='Share'/>
        </div>
    </div>
</div>


<div class="well-custom status-box">
    <div class = "post-header">
        <div class = "post-profile-img">
            <div class="post-profile-image-resize">
                <img src="/media/test2.jpg" class="img-rounded"/>
            </div>
        </div>
        <div class = "post-profile-details">
            <div class="post_background">
            </div>
            <div class="profile-name">
                Profile Name!
            </div>
            <div class="topic-name">
                Topic Name!
            </div>
        </div>
    </div>
    <div class = "post-body">
        <div class = "well post-contents">
            <div class="post-text-box">
                Hey, this is my first status!
            </div>
            <div class="post-image-resize">
                <img src="/media/test2.jpg" class="img-rounded"/>
            </div>
            <!-- <div onclick="window.open('http://127.0.0.1:8000','mywindow');" style="cursor: pointer;" class = "link-preview-box well">
                <div class = "link-preview-img">
                    <div class="link-preview-image-resize">
                        <img src="/media/test2.jpg" class="img-rounded"/>
                    </div>
                </div>
                <div class = "link-preview-details">
                    <div class="link-preview-title">
                        Preview Title
                    </div>
                    <div class="link-parent-name">
                        Preview Parent
                    </div>
                </div>
            </div> -->
        </div>
    </div>
    <div class = "post-footer">
        <div class = "well post-action">
            <input type='button' class='btn btn-upvote btn-primary btn-sm' value='Upvote'/>
            <input type='button' class='btn btn-upvote btn-primary btn-sm' value='Downvote'/>
            <input type='button' class='btn btn-upvote btn-primary btn-sm' value='Discuss'/>
            <input type='button' class='btn btn-upvote btn-primary btn-sm' value='Broadcast '/>
        </div>
    </div>
</div>