{% load staticfiles %}


<script type="text/javascript" src=" {% static 'mobile/js/jquery.js' %}"></script>


<div class="well" id="content">

    <div class="well status-box">
      Hey, Nirlendu!
    </div>

    <!--{% include "../commons/m-feed-elements.html" %}-->

    {% include page_template %}

    {% block js %}
        <script src="{% static 'js/el-pagination.js' %}"></script>
        <script>
            $.endlessPaginate({
                paginateOnScroll: true,
                paginateOnScrollMargin: 20,
            });
        </script>
    {% endblock %}
    {% include "../commons/m-discover-box.html" %}
    </br>
</div>
<script type="text/javascript">
    $(document).ready(function() {
     $("#myCarousel").swiperight(function() {
        $(this).carousel('prev');
        });
     $("#myCarousel").swipeleft(function() {
        $(this).carousel('next');
   });
});
</script>