  <style type="text/css">
    .top-nav{
      width:100%;
      /*margin-right: calc(((100% - 1000px) * 1.6)/2.6);
      margin-left: calc((100% - 1000px)/2.6);*/
      padding-top: 5%
      height: 100%;
      margin: auto;
      font-size: larger;
    }
    .ele>li>a {
      padding-left: 0px;
    }
    .nav-p {
      padding: 2%;
    }
    .m-nav-btn{
      height:70px;
      width: 200px;
      margin-right: 20px;
      font-size: x-large;
    }
  </style>
  <nav class="navbar nav-p navbar-inverse nav-fixed navbar-fixed-top">
    <nav class="top-nav ">
        <ul class="nav ele navbar-nav ">
            <li role = "presentation">
              <button class="btn btn-primary m-nav-btn">
                Home
               </button>        
            </li>
            <li role = "presentation">
                <button class="btn btn-primary btn-md m-nav-btn" >
                  Channel
               </button>
            </li>
        </ul>
    </nav>
  </nav>