  <style type="text/css">
    .top-nav{
      width:90%;
      /*margin-right: calc(((100% - 1000px) * 1.6)/2.6);
      margin-left: calc((100% - 1000px)/2.6);*/
      padding-top: 5%
      height: 100%;
      margin: auto;
    }
    .ele>li>a {
      padding-left: 0px;
    }
    .nav-p {
      padding: 2%;
    }
  </style>
  <nav class="navbar nav-p navbar-inverse nav-fixed navbar-fixed-top">
    <nav class="top-nav ">
        <ul class="nav ele navbar-nav">
            <li role = "presentation"><a href="/">Home</a></li>
            <li role = "presentation"><a href="/channel">Channel</a></li>
        </ul>
    </nav>
  </nav>