<div class="well discover-side-follow">
    <div class="discover-side-follow-info">
        <div class="well discover-side-follow-info-head">
            <div class="discover-side-follow-resize">
                <img src="https://s3.ap-south-1.amazonaws.com/the-thing/media/test2.jpg" class="img-rounded"/>
            </div>
            <div class="discover-side-follow-name">
                google.com
            </div>
        </div>
        <div class="well discover-side-follow-info-head">
            Search anything
        </div>
    </div>
    <div onclick="window.open('http://127.0.0.1:8000','mywindow');" style="cursor: pointer;" class="follow-button">
        W
    </div>
</div>


<div class="well discover-side-follow">
    <div class="discover-side-follow-info">
        <div class="well discover-side-follow-info-head">
            <div class="discover-side-follow-resize">
                <img src="https://s3.ap-south-1.amazonaws.com/the-thing/media/test2.jpg" class="img-rounded"/>
            </div>
            <div class="discover-side-follow-name">
                Aristotle
            </div>
        </div>
        <div class="well discover-side-follow-info-head">
            Thinker, Rationalist
        </div>
    </div>
    <div onclick="window.open('http://127.0.0.1:8000','mywindow');" style="cursor: pointer;" class="follow-button">
        U
    </div>
</div>


<div class="well discover-side-follow">
    <div class="discover-side-follow-info">
        <div class="well discover-side-follow-info-head">
            <div class="discover-side-follow-resize">
                <img src="https://s3.ap-south-1.amazonaws.com/the-thing/media/test2.jpg" class="img-rounded"/>
            </div>
            <div class="discover-side-follow-name">
                Leonidas
            </div>
        </div>
        <div class="well discover-side-follow-info-head">
            Warrior, King
        </div>
    </div>
    <div onclick="window.open('http://127.0.0.1:8000','mywindow');" style="cursor: pointer;" class="follow-button">
        U
    </div>
</div>


<div class="well discover-side-follow">
    <div class="discover-side-follow-info">
        <div class="well discover-side-follow-info-head">
            <div class="discover-side-follow-resize">
                <img src="https://s3.ap-south-1.amazonaws.com/the-thing/media/test2.jpg" class="img-rounded"/>
            </div>
            <div class="discover-side-follow-name">
                Pompeii
            </div>
        </div>
        <div class="well discover-side-follow-info-head">
            Roman City
        </div>
    </div>
    <div onclick="window.open('http://127.0.0.1:8000','mywindow');" style="cursor: pointer;" class="follow-button">
        T
    </div>
</div>


<div class="well discover-side-follow">
    <div class="discover-side-follow-info">
        <div class="well discover-side-follow-info-head">
            <div class="discover-side-follow-resize">
                <img src="https://s3.ap-south-1.amazonaws.com/the-thing/media/test2.jpg" class="img-rounded"/>
            </div>
            <div class="discover-side-follow-name">
                greekmuseum.gr
            </div>
        </div>
        <div class="well discover-side-follow-info-head">
            National Museum
        </div>
    </div>
    <div onclick="window.open('http://127.0.0.1:8000','mywindow');" style="cursor: pointer;" class="follow-button">
        W
    </div>
</div>


<div class="well discover-side-follow">
    <div class="discover-side-follow-info">
        <div class="well discover-side-follow-info-head">
            <div class="discover-side-follow-resize">
                <img src="https://s3.ap-south-1.amazonaws.com/the-thing/media/test2.jpg" class="img-rounded"/>
            </div>
            <div class="discover-side-follow-name">
                Greek History
            </div>
        </div>
        <div class="well discover-side-follow-info-head">
            Old Greece
        </div>
    </div>
    <div onclick="window.open('http://127.0.0.1:8000','mywindow');" style="cursor: pointer;" class="follow-button">
        T
    </div>
</div>