{% if entry.DW %}

    <div class="well-custom-1 feed-discover-third-wrapper">
        <div class = "feed-discover-third feed-discover-third-right">
            <div class = "well feed-discover-article-content-third">
                <div class="inline-discover-channel-article-wrapper" onclick="window.open('{{entry.DW.1.URL}}','mywindow');" style="cursor: pointer;">
                    <div class="dicover-url-image">
                        <img src="{{entry.DW.1.URL_IMAGEFILE}}" class="img-rounded"/>
                    </div>
                    <div class="discover-url-title">
                        {{entry.DW.1.URL_TITLE}}
                    </div>
                    <div class="discover-url-domain">
                        {{entry.DW.2.URL_DOMAIN}}
                    </div>
                </div>
            </div>
        </div>

        <div class = "feed-discover-third feed-discover-third-right">
            <div class = "well feed-discover-article-content-third">
                <div class="inline-discover-channel-article-wrapper" onclick="window.open('{{entry.DW.2.URL}}','mywindow');" style="cursor: pointer;">
                    <div class="dicover-url-image">
                        <img src="{{entry.DW.2.URL_IMAGEFILE}}" class="img-rounded"/>
                    </div>
                    <div class="discover-url-title">
                        {{entry.DW.2.URL_TITLE}}
                    </div>
                    <div class="discover-url-domain">
                        {{entry.DW.2.URL_DOMAIN}}
                    </div>
                </div>
            </div>
        </div>

        <div class = "feed-discover-third">
            <div class = "well feed-discover-article-content-third">
                <div class="inline-discover-channel-article-wrapper" onclick="window.open('{{entry.DW.3.URL}}','mywindow');" style="cursor: pointer;">
                    <div class="dicover-url-image">
                        <img src="{{entry.DW.3.URL_IMAGEFILE}}" class="img-rounded"/>
                    </div>
                    <div class="discover-url-title">
                        {{entry.DW.3.URL_TITLE}}
                    </div>
                    <div class="discover-url-domain">
                        {{entry.DW.3.URL_DOMAIN}}
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endif %}

{% if entry.DE %}

{% endif %}

{% if entry.DA %}

    <div class="well-custom-1 feed-discover-inline">
        <div class = "well inline-feed-left">
            <div class = "feed-express-header">
                <div class = "feed-express-profile-img">
                    <div class="feed-express-profile-image-resize">
                        <img src="/media/test2.jpg" class="img-rounded"/>
                    </div>
                </div>
                <div class = "feed-express-profile-details">
                    <div class="feed-express-background">
                    </div>
                    <div class="profile-name">
                        -channel-
                    </div>
                </div>
            </div>

            <div onclick="window.open('','mywindow');" style="cursor: pointer;" class = "feed-discover-body">
                <div class = "well feed-discover-article-content">
                    <div class="inline-discover-channel-article-wrapper">
                        <div class="dicover-url-image">
                            <img src="/media/test2.jpg" class="img-rounded"/>
                        </div>
                        <div class="discover-url-title">
                            Title
                        </div>
                        <div class="discover-url-domain">
                            Domain
                        </div>
                    </div>
                </div>
            </div>

            <div class = "feed-discover-footer">
                <div class = "feed-discover-action">

                    <button type="button" class='btn btn-discover-white btn-up btn-primary btn-sm'>
                      <span class="glyphicon glyphicon-chevron-up"></span> 1.2K
                    </button>

                    <button type="button" class='btn btn-discover-white btn-broadcast btn-primary btn-sm'>
                      <span class="glyphicon glyphicon-volume-up"></span> 161
                    </button>

                    <button type="button" class='btn btn-discover-white btn-collect btn-primary btn-sm'>
                      <span class="glyphicon glyphicon-log-in"></span> 29
                    </button>

                </div>
            </div>
        </div>

        <div class = "inline-discover-channel">
            <div class="inline-discover-channel-wrapper">
                <div class="dicover-url-image-follow">
                    <img id= "discover-url-image-id" src="/media/test2.jpg" class="img-rounded"/>
                </div>
                <div class="discover-url-title">
                    Title
                </div>
                <div class="discover-channel-footer">
                    <button type="button" class='btn btn-primary btn-feed-channel-follow'>
                      <span class="glyphicon glyphicon-plus-sign"></span> 2.3K
                    </button>
                </div>
            </div>

            <div class="inline-discover-channel-wrapper">
                <div class="dicover-url-image-follow">
                    <img id= "discover-url-image-id" src="/media/test2.jpg" class="img-rounded"/>
                </div>
                <div onclick="window.open('','mywindow');" style="cursor: pointer;" class="discover-url-title">
                    Title
                </div>
                <div class="discover-channel-footer">
                    <button type="button" class='btn btn-primary btn-feed-channel-follow'>
                      <span class="glyphicon glyphicon-plus-sign"></span> 5K
                    </button>
                </div>
            </div>
        </div>
    </div>

{% endif %}