body {
  height: 100%;
  /*overflow-x: scroll;
  overflow-y: scroll;*/
  font-family: Georgia,Times,"Times New Roman",serif;
  /*font-family: Verdana,Geneva,Tahoma,Arial,Helvetica,sans-serif!important;*/
  font-weight: 400;
  line-height: 1.5;
  background-color: rgba(0,0,0,0.07);
  /*font-size: medium;*/
}
p, h3 {
    padding: 1em 0 .5em 0;
}
#wrapper {
    /*margin-left:auto;
    margin-right:auto;*/
    position: relative;
    /*margin-right: calc(((100% - 1000px) * 1.6)/2.6);
    margin-left: calc((100% - 1000px)/2.6);*/
    width:100%;
    margin: auto;
    margin-top: 12%;
    margin-bottom: 3%;
    min-width: 90%;
    overflow-x: auto;
    overflow-y: auto;
    font-size: xx-large;
}
.btn{
  display: inline-block;
  vertical-align: middle;
}
.well{
  background-color: rgba(245,245,245,0);
}

#content {
        position: static;
        width: 100%;
        min-width: 100%;
        overflow-x: hidden;
        display: inline-block;
        vertical-align: top;
        padding:0px;
        font-size: xx-large;
    }
    .status-box{
        padding : 1.5%;
        margin-bottom: 15px;
    }
    .well-custom{
        border: 1px solid;
        border-color: rgba(0,0,0,0.3);
        border-radius: 5px;
        padding-bottom: 5px;
        background-color: white;
    }
    .post-header{
        width: 100% ;
        height : 100px;
    }
    .post-profile-img{
        width: 100px;
        height : 100px;
        display: inline-block;
    }
    .post-profile-details{
        vertical-align: top;
        height : 100px;
        /*width: calc(100% - 120px);*/
        width: 87.5%;
        display: inline-block;
        border: thin;
    }
    .post-profile-image-resize img{
        vertical-align: top;
        width: 100px; /* you can use % */
        height: 100px;
    }
    .post_background{
        height:30px;
        width:100%;
        background-color: rgba(0, 0, 0, 0.06);
        border-radius: 4px;
        margin-left: 5px;
    }
    .profile-name{
        height:50px;
        width:50%;
        font-size: larger;
        padding-left: 5px;
        display: inline-block;
    }
    .topic-name{
        height:50px;
        width:48%;
        text-align: right;
        display: inline-block;
    }
    .post-profile-name{
        height:30px;
        width:100%;
    }
    .post-body{
        margin-top: 10px;
        margin-bottom: 5px;
        width: 100%;
    }
    .post-contents{
        margin-bottom: 0px;
        padding: 5px;
        padding-right: 0px;
        border: 0px;
    }
    .post-image-resize img{
        vertical-align: top;
        width: 100%; /* you can use % */
        height: auto;
        /*margin-left: 5px;*/
    }
    .post-text-box{
        /*padding: 5px;*/
        margin-bottom: 10px;
        margin-top: 5px;
        font-size: larger;
    }
    .post-footer{
        margin-top: 10px;
        margin-bottom: 10px;
        width: 100%;
    }
    .post-action{
        border: 0px;
        margin:0px;
        padding: 0px;
        font-size: small;
    }
    .link-preview-box{
        /*padding-top: 0px;
        padding-bottom: 0px;*/
        border: 0px;
        padding: 0px;
        margin-bottom: 5px;
    }
    .link-preview-box:hover {
        background-color: rgba(0, 0, 0, 0.04);
    }
    .link-preview-img{
        width: 200px;
        height : 200px;
        display: inline-block;
        vertical-align: top;
    }
    .link-preview-details{
        vertical-align: top;
        height : 200px;
        width: 77%;
        /*width: calc(100% - 220px);*/
        display: inline-block;
        border: 0px;
        background-color: rgba(0, 0, 0, 0.04);
    }
    .link-preview-details-max{
        height : 200px;
        /*width: 79.2%;*/
        width: 100%;
        display: inline-block;
        border: 0px;
        background-color: rgba(0, 0, 0, 0.04);
        font-size: xx-large;
    }
    .link-preview-image-resize img{
        vertical-align: top;
        width: 200px; /* you can use % */
        height: 200px;
    }
    .link-preview-title{
        padding-top: 5px;
        padding-left: 5px;
        height:150px;
        width:100%;
        font-size: larger;
        font-weight: bold;
    }
    .link-parent-name{
        height:50px;
        width:100%;
        padding-right: 5px;
        text-align: right;
    }
    .btn-express-white{
    /*width: calc(25% - 4px);*/
    width: 24.5%;
    border-color: white;
    font-weight: bold;
    background-color: white;
    font-size: xx-large;
    color: rgba(0,0,0,0.6);
    }
    .btn-express-white:hover{
    border-color: white;
    }
    .btn-up:hover{
    background-color: white;
    color: red;
    font-weight: bold;
    }
    .btn-discuss:hover{
    background-color: white;
    color: #337ab7;
    font-weight: bold;
    }
    .btn-broadcast:hover{
    background-color: white;
    color: rgba(58, 128, 37, 0.71);
    font-weight: bold;
    }
    .btn-collect:hover{
    background-color: white;
    color: rgb(177, 136, 46);
    font-weight: bold;
    }
    .carousel-inner.onebyone-carosel { margin: auto; width: 90%; }
    .onebyone-carosel .active.left { left: -33.33%; }
    .onebyone-carosel .active.right { left: 33.33%; }
    .onebyone-carosel .next { left: 33.33%; }
    .onebyone-carosel .prev { left: -33.33%; }



.discover-inline-wrapper{
        display: inline-block;
        width: 100%;
    }
    .btn-discover-white{
    /*width: calc(33% - 4px);*/
    width: 32.5%;
    border-color: white;
    font-weight: bold;
    background-color: white;
    font-size: xx-large;
    color: rgba(0,0,0,0.6);
    }
    .btn-discover-white:hover{
    border-color: white;
    }
    .discover-half-box{
        vertical-align: top;
        display: inline-block;
        width: 49.5%;
        padding : 1.5%;
        margin-bottom: 15px;
    }
    .discover-profile-name{
            height:50px;
        width:100%;
        font-size: larger;
        padding-left: 5px;
        display: inline-block;
    }


.inline-discover-channel-article-wrapper{
position: relative;
display: inline-block;s
margin-bottom: 5px;
border-radius: 3px;
border: 1px solid #e3e3e3;
height: 500px;
 background-color: rgba(0,0,0,0.03);
}
.dicover-url-image{
height: 38%;
width: 100%;
overflow: hidden;
}
.dicover-url-image img {
width: 100%;
height: 100%;
}

.discover-url-title{
padding: 5px;
display: block;
font-size: larger;
font-weight: bold;
}
.discover-url-domain{
display: block;
position: absolute;
padding-right: 5px;
right: 0;
bottom: 0;
}
.discover-profile-details{
        vertical-align: top;
        height : 100px;
        /*width: calc(100% - 120px);*/
        width: 74%;
        display: inline-block;
        border: thin;
    }