<div class="left-profile well">
    <div class = "left-profile-info well">
        <div class = "left-profile-img">
            <div class="left-profile-image-resize">
            <img src="https://s3.ap-south-1.amazonaws.com/the-thing/media/test2.jpg" class="img-rounded"/>
            </div>
        </div>
        <div class = "left-profile-details">
            <div id="left-name"><span>Nirlendu Saha</span></div>
        </div>
    </div>
</div>

<div class="well left-profile-about">
    Followers : 100
    </br>
    Ratings : 10
</div>

<button class="btn btn-primary btn-md left-express-btn launch-modal" data-toggle="modal" data-target="#expressModal">
    Express
</button>

<div class="well left-profile-about">
    Discover
    {% include "../commons/discover-box.html" %}
</div>