<!--{% load staticfiles %}-->

<!--ELEMENT ONE-->

<style type="text/css">
</style>

<div class="well-custom feed-express-area">
	<div class = "feed-express-header">
		<div class = "feed-express-profile-img">
			<div class="feed-express-profile-image-resize">
				<img src="/media/test2.jpg" class="img-rounded"/>
			</div>
		</div>
		<div class = "feed-express-profile-details">
			<div class="feed-express-background">
			</div>
			<div class="profile-name">
				Nirlendu Saha
			</div>
			<div class="topic-name">
				Topic Name!
			</div>
		</div>
	</div>
	<div class = "feed-express-body">
		<div class = "well feed-express-contents">
			<div class="feed-express-text-box">
				Sample expression :)
			</div>
			<div onclick="window.open('','mywindow');" style="cursor: pointer;" class = "link-preview-box well">
				<div class = "link-preview-img">
					<div class="link-preview-image-resize">
						<img src="/media/test2.jpg" class="img-rounded"/>
					</div>
				</div>
				<div class = "link-preview-details">
					<div class="link-preview-title">
						Link title
					</div>
					<div class="link-preview-parent-name">
						Domain
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class = "feed-discover-footer">
		<div class = "feed-discover-action">

		<button type="button" class='btn btn-feed-express-color btn-up btn-primary btn-sm'>
          <span class="glyphicon glyphicon-chevron-up"></span> 1.2K
        </button>

        <button type="button" class='btn btn-feed-express-color btn-discuss btn-primary btn-sm'>
          <span class="glyphicon glyphicon-comment"></span> 400
        </button>

        <button type="button" class='btn btn-feed-express-color btn-broadcast btn-primary btn-sm'>
          <span class="glyphicon glyphicon-volume-up"></span> 161
        </button>

        <button type="button" class='btn btn-feed-express-color btn-collect btn-primary btn-sm'>
          <span class="glyphicon glyphicon-log-in"></span> 29
        </button>

		</div>
	</div>
</div>

<!--ELEMENT ONE END-->



<style type="text/css">
</style>

<!--ELEMENT TWO BEGIN-->

<div class="well-custom-1 feed-discover-inline">
	<div class = "well inline-feed-left">
		<div class = "feed-express-header">
			<div class = "feed-express-profile-img">
				<div class="feed-express-profile-image-resize">
					<img src="/media/test2.jpg" class="img-rounded"/>
				</div>
			</div>
			<div class = "feed-express-profile-details">
				<div class="feed-express-background">
				</div>
				<div class="profile-name">
					-channel-
				</div>
			</div>
		</div>

		<div onclick="window.open('','mywindow');" style="cursor: pointer;" class = "feed-discover-body">
			<div class = "well feed-discover-article-content">
				<div class="inline-discover-channel-article-wrapper">
					<div class="dicover-url-image">
						<img src="/media/test2.jpg" class="img-rounded"/>
					</div>
					<div class="discover-url-title">
						Title
					</div>
					<div class="discover-url-domain">
						Domain
					</div>
				</div>
			</div>
		</div>

		<div class = "feed-discover-footer">
			<div class = "feed-discover-action">

				<button type="button" class='btn btn-discover-white btn-up btn-primary btn-sm'>
		          <span class="glyphicon glyphicon-chevron-up"></span> 1.2K
		        </button>

		        <button type="button" class='btn btn-discover-white btn-broadcast btn-primary btn-sm'>
		          <span class="glyphicon glyphicon-volume-up"></span> 161
		        </button>

		        <button type="button" class='btn btn-discover-white btn-collect btn-primary btn-sm'>
		          <span class="glyphicon glyphicon-log-in"></span> 29
		        </button>

			</div>
		</div>
	</div>

	<div class = "inline-discover-channel">
		<div class="inline-discover-channel-wrapper">
			<div class="dicover-url-image-follow">
				<img id= "discover-url-image-id" src="/media/test2.jpg" class="img-rounded"/>
			</div>
			<div class="discover-url-title">
				Title
			</div>
			<div class="discover-channel-footer">
				<button type="button" class='btn btn-primary btn-feed-channel-follow'>
		          <span class="glyphicon glyphicon-plus-sign"></span> 2.3K
		        </button>
			</div>
		</div>

		<div class="inline-discover-channel-wrapper">
			<div class="dicover-url-image-follow">
				<img id= "discover-url-image-id" src="/media/test2.jpg" class="img-rounded"/>
			</div>
			<div onclick="window.open('','mywindow');" style="cursor: pointer;" class="discover-url-title">
				Title
			</div>
			<div class="discover-channel-footer">
				<button type="button" class='btn btn-primary btn-feed-channel-follow'>
		          <span class="glyphicon glyphicon-plus-sign"></span> 5K
		        </button>
			</div>
		</div>
	</div>
</div>


<!--ELEMENT TWO END-->


<!--ELEMENT THREE BEGIN-->


<div class="well-custom feed-express-area">
	<div class = "feed-express-header">
		<div class = "feed-express-profile-img">
		<div class="feed-express-profile-image-resize">
			<img src="/media/test2.jpg" class="img-rounded"/>
		</div>
		</div>
		<div class = "feed-express-profile-details">
		<div class="feed-express-background">
		</div>
		<div class="profile-name">
			Nirlendu Saha
		</div>
		<div class="topic-name">
			Topic Name!
		</div>
		</div>
	</div>
	<div class = "feed-express-body">
		<div class = "well feed-express-contents">
		<div class="feed-express-text-box">
			Sample expression :)
		</div>
			<div class="feed-express-image-resize">
			<img src="/media/test2.jpg" class="img-rounded"/>
			</div>
		</div>
	</div>
	<div class = "feed-express-footer">
		<div class = "well feed-express-action">
			<button type="button" class='btn btn-feed-express-inverted btn-up btn-primary btn-sm'>
	          <span class="glyphicon glyphicon-chevron-up"></span> 1.2K
	        </button>

	        <button type="button" class='btn btn-feed-express-inverted btn-discuss btn-primary btn-sm'>
	          <span class="glyphicon glyphicon-comment"></span> 400
	        </button>

	        <button type="button" class='btn btn-feed-express-inverted btn-broadcast btn-primary btn-sm'>
	          <span class="glyphicon glyphicon-volume-up"></span> 161
	        </button>

	        <button type="button" class='btn btn-feed-express-inverted btn-collect btn-primary btn-sm'>
	          <span class="glyphicon glyphicon-log-in"></span> 29
	        </button>
		</div>
	</div>
</div>


<!--ELEMENT THREE END-->


<style type="text/css">
</style>


<!-- THE HALF DISCOVER BEGIN-->

<div class="well-custom-1 feed-discover-inline">
	<div class = "well inline-feed-left-discover inline-feed-discover-half">
		<div onclick="window.open('','mywindow');" style="cursor: pointer;">
			<div  class = "feed-express-header">
				<div class = "feed-express-profile-img">
					<div class="feed-express-profile-image-resize">
						<img src="/media/test2.jpg" class="img-rounded"/>
					</div>
				</div>
				<div class = "feed-express-profile-details">
					<div class="feed-express-background">
					</div>
					<div class="profile-name">
						-channel-
					</div>
				</div>
			</div>
			<div class = "feed-discover-body">
				<div class = "well feed-discover-article-content">
					<div class="inline-discover-channel-article-wrapper">
						<div class="dicover-url-image">
							<img src="/media/test2.jpg" class="img-rounded"/>
						</div>
						<div class="discover-url-title">
							Title
						</div>
						<div class="discover-url-domain">
							Domain
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class = "feed-discover-footer">
			<div class = "feed-discover-action">

				<button type="button" class='btn btn-discover-white btn-up btn-primary btn-sm'>
		          <span class="glyphicon glyphicon-chevron-up"></span> 1.2K
		        </button>

		        <button type="button" class='btn btn-discover-white btn-broadcast btn-primary btn-sm'>
		          <span class="glyphicon glyphicon-volume-up"></span> 161
		        </button>

		        <button type="button" class='btn btn-discover-white btn-collect btn-primary btn-sm'>
		          <span class="glyphicon glyphicon-log-in"></span> 29
		        </button>

			</div>
		</div>
	</div>



	<div class = "well inline-feed-discover-half">
		<div onclick="window.open('','mywindow');" style="cursor: pointer;">
			<div class = "feed-express-header">
				<div class = "feed-express-profile-img">
					<div class="feed-express-profile-image-resize">
						<img src="/media/test2.jpg" class="img-rounded"/>
					</div>
				</div>
				<div class = "feed-express-profile-details">
					<div class="feed-express-background">
					</div>
					<div class="profile-name">
						-channel-
					</div>
				</div>
			</div>

			<div class = "feed-discover-body">
				<div class = "well feed-discover-article-content">
					<div class="inline-discover-channel-article-wrapper">
						<div class="dicover-url-image">
							<img src="/media/test2.jpg" class="img-rounded"/>
						</div>
						<div class="discover-url-title">
							Title
						</div>
						<div class="discover-url-domain">
							Domain
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class = "feed-discover-footer">
			<div class = "feed-discover-action">

				<button type="button" class='btn btn-discover-white btn-up btn-primary btn-sm'>
		          <span class="glyphicon glyphicon-chevron-up"></span> 1.2K
		        </button>

		        <button type="button" class='btn btn-discover-white btn-broadcast btn-primary btn-sm'>
		          <span class="glyphicon glyphicon-volume-up"></span> 161
		        </button>

		        <button type="button" class='btn btn-discover-white btn-collect btn-primary btn-sm'>
		          <span class="glyphicon glyphicon-log-in"></span> 29
		        </button>

			</div>
		</div>
	</div>
</div>



<!-- THE HALF DISCOVER END-->

<style type="text/css">
</style>


<!-- THE THIRD DISCOVER BEGIN-->

<div class="well-custom-1 feed-discover-third-wrapper">
	<div class = "feed-discover-third feed-discover-third-right">
		<div class = "well feed-discover-article-content-third">
			<div class="inline-discover-channel-article-wrapper" onclick="window.open('','mywindow');" style="cursor: pointer;">
				<div class="dicover-url-image">
					<img src="/media/test2.jpg" class="img-rounded"/>
				</div>
				<div class="discover-url-title">
					Title
				</div>
				<div class="discover-url-domain">
					Domain
				</div>
			</div>
		</div>
	</div>

	<div class = "feed-discover-third feed-discover-third-right">
		<div class = "well feed-discover-article-content-third">
			<div class="inline-discover-channel-article-wrapper" onclick="window.open('','mywindow');" style="cursor: pointer;">
				<div class="dicover-url-image">
					<img src="/media/test2.jpg" class="img-rounded"/>
				</div>
				<div class="discover-url-title">
					Title
				</div>
				<div class="discover-url-domain">
					Domain
				</div>
			</div>
		</div>
	</div>

	<div class = "feed-discover-third">
		<div class = "well feed-discover-article-content-third">
			<div class="inline-discover-channel-article-wrapper" onclick="window.open('','mywindow');" style="cursor: pointer;">
				<div class="dicover-url-image">
					<img src="/media/test2.jpg" class="img-rounded"/>
				</div>
				<div class="discover-url-title">
					Title
				</div>
				<div class="discover-url-domain">
					Domain
				</div>
			</div>
		</div>
	</div>
</div>

<!-- THE THIRD DISCOVER END-->



<script type="text/javascript">

    function upvoteExpression(expression_id){
        event.preventDefault();
        var csrftoken = $.cookie('csrftoken');

        function csrfSafeMethod(method) {
            // these HTTP methods do not require CSRF protection
            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
        }
        $.ajaxSetup({
        beforeSend: function(xhr, settings) {
            if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                xhr.setRequestHeader("X-CSRFToken", csrftoken);
            }
            }
        });
        var formData = new FormData();
        formData.append('expression_id', expression_id);
        $.ajax({
            url: '/expression/upvote/',
            type: 'POST',
            data: formData,
            cache: false,
            processData: false, // Don't process the files
            contentType: false, // Set content type to false as jQuery will tell the server its a query string request
            success: function(data, textStatus, jqXHR)
            {
                if(typeof data.error === 'undefined')
                {
                    console.log('Upvoted!');
                }
            },
            error: function(jqXHR, textStatus, errorThrown)
            {
                console.log('ERRORS: ' + textStatus);
            }
        });
    }

    function downvoteExpression(expression_id){
        event.preventDefault();
        var csrftoken = $.cookie('csrftoken');

        function csrfSafeMethod(method) {
            // these HTTP methods do not require CSRF protection
            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
        }
        $.ajaxSetup({
        beforeSend: function(xhr, settings) {
            if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                xhr.setRequestHeader("X-CSRFToken", csrftoken);
            }
            }
        });
        var formData = new FormData();
        formData.append('expression_id', expression_id);
        $.ajax({
            url: '/expression/downvote/',
            type: 'POST',
            data: formData,
            cache: false,
            processData: false, // Don't process the files
            contentType: false, // Set content type to false as jQuery will tell the server its a query string request
            success: function(data, textStatus, jqXHR)
            {
                if(typeof data.error === 'undefined')
                {
                    console.log('Downvoted!');
                }
            },
            error: function(jqXHR, textStatus, errorThrown)
            {
                console.log('ERRORS: ' + textStatus);
            }
        });
    }
</script>