<!--{% load staticfiles %}-->

<!--ELEMENT ONE-->

	<div class="well-custom feed-express-area">
	<div class = "feed-express-header">
		<div class = "feed-express-profile-img">
		<div class="feed-express-profile-image-resize">
			<img src="https://s3.ap-south-1.amazonaws.com/the-thing/media/test2.jpg" class="img-rounded"/>
		</div>
		</div>
		<div class = "feed-express-profile-details">
		<div class="feed-express-background">
		</div>
		<div class="profile-name">
			Nirlendu Saha
		</div>
		<div class="topic-name">
			Topic Name!
		</div>
		</div>
	</div>
	<div class = "feed-express-body">
		<div class = "well feed-express-contents">
		<div class="feed-express-text-box">
			Sample expression :)
		</div>

			<!--<div class="feed-express-image-resize">-->
			<!--<img src="https://s3.ap-south-1.amazonaws.com/the-thing/media/test2.jpg" class="img-rounded"/>-->
			<!--</div>-->


			<div onclick="window.open('','mywindow');" style="cursor: pointer;" class = "link-preview-box well">
			<div class = "link-preview-img">
				<div class="link-preview-image-resize">
				<img src="https://s3.ap-south-1.amazonaws.com/the-thing/media/test2.jpg" class="img-rounded"/>
				</div>
			</div>
			<div class = "link-preview-details">
				<div class="link-preview-title">
				Link title
				</div>
				<div class="link-preview-parent-name">
				Domain
				</div>
			</div>
			</div>


		</div>
	</div>
	<div class = "feed-express-footer">
		<div class = "well feed-express-action">
		<input type='button' onclick="upvoteExpression('{{entry.expression_id}}')" class='btn btn-feed-express btn-upvote btn-primary btn-sm' value='Upvote'/>
		<input type='button' onclick="downvoteExpression('{{entry.expression_id}}')" class='btn btn-feed-express btn-downvote btn-primary btn-sm' value='Downvote'/>
		<input type='button' class='btn btn-feed-express btn-discuss btn-primary btn-sm launch-modal' data-toggle="modal" data-target="#discussModal{{entry.expression_id}}" value='Discuss'/>
		<input type='button' class='btn btn-feed-express btn-broadcast btn-primary btn-sm launch-modal' data-toggle="modal" data-target="#broadcastModal{{entry.expression_id}}" value='Broadcast'/>
		</div>
	</div>
	</div>

<!--ELEMENT ONE-->

<style type="text/css">
.feed-express-area-inline{
  padding : 2%;
  margin-bottom: 5px;
  display: flex;
}
.inline-feed-left{
	margin-right: 1.5%;
	display: inline-flex;
	vertical-align: top;
	width: 61.3%;
	padding: 0px;
	margin-bottom: 0px;
}
</style>

<!--ELEMENT TWO-->

<div class="well-custom feed-express-area-inline">
<div class = "well inline-feed-left">


	<div class = "feed-express-header">
		<div class = "feed-express-profile-img">
		<div class="feed-express-profile-image-resize">
			<img src="https://s3.ap-south-1.amazonaws.com/the-thing/media/test2.jpg" class="img-rounded"/>
		</div>
		</div>
		<div class = "feed-express-profile-details">
			<div class="feed-express-background">
			</div>
			<div class="profile-name">
				Nirlendu Saha
			</div>
			<div class="topic-name">
				Topic Name!
			</div>
		</div>

		<!-- <div onclick="window.open('','mywindow');" style="cursor: pointer;" class = "link-preview-box well">
			<div class = "link-preview-img">
				<div class="link-preview-image-resize">
				<img src="https://s3.ap-south-1.amazonaws.com/the-thing/media/test2.jpg" class="img-rounded"/>
				</div>
			</div>
			<div class = "link-preview-details">
				<div class="link-preview-title">
				Link title
				</div>
				<div class="link-preview-parent-name">
				Domain
				</div>
			</div>
			</div> -->

	</div>

<style type="text/css">
.inline-discover{
	display: inline-flex;
	vertical-align: top;
	width: 36.1%;
	padding: 0px;
	margin-bottom: 0px;
}
.inline-discover-wrapper{
	position: relative;
	display: block;
}
/*.dicover-url-image {
	height : 38%;
	width: 100%;
}
.dicover-url-image img {
	width: 100%;
	height: 100%;
}*/
.dicover-url-image{
    height: 38%;
    width: 100%;
    overflow: hidden;
}
.dicover-url-image img {
	width: 100%;
}

.discover-url-title{
	padding: 5px;
	display: block;
}
.discover-url-domain{
	display: block;
	position: absolute;
	padding-right: 5px;
	right: 0;
    bottom: 0;
}
</style>
</div>
<div class = "well inline-discover">
	<div class="inline-discover-wrapper">
		<div class="dicover-url-image">
			<img id= "discover-url-image-id" src="https://s3.ap-south-1.amazonaws.com/the-thing/media/test2.jpg" class="img-rounded"/>
		</div>
		<div class="discover-url-title">
		Title
		</div>
		<div class="discover-url-domain">
			Domain
		</div>
	</div>
</div>
</div>


<!--ELEMENT TWO-->


<!--ELEMENT THREE-->


	<div class="well-custom feed-express-area">
	<div class = "feed-express-header">
		<div class = "feed-express-profile-img">
		<div class="feed-express-profile-image-resize">
			<img src="https://s3.ap-south-1.amazonaws.com/the-thing/media/test2.jpg" class="img-rounded"/>
		</div>
		</div>
		<div class = "feed-express-profile-details">
		<div class="feed-express-background">
		</div>
		<div class="profile-name">
			Nirlendu Saha
		</div>
		<div class="topic-name">
			Topic Name!
		</div>
		</div>
	</div>
	<div class = "feed-express-body">
		<div class = "well feed-express-contents">
		<div class="feed-express-text-box">
			Sample expression :)
		</div>

			<div class="feed-express-image-resize">
			<img src="https://s3.ap-south-1.amazonaws.com/the-thing/media/test2.jpg" class="img-rounded"/>
			</div>


			<!--<div onclick="window.open('','mywindow');" style="cursor: pointer;" class = "link-preview-box well">-->
			<!--<div class = "link-preview-img">-->
				<!--<div class="link-preview-image-resize">-->
				<!--<img src="https://s3.ap-south-1.amazonaws.com/the-thing/media/test2.jpg" class="img-rounded"/>-->
				<!--</div>-->
			<!--</div>-->
			<!--<div class = "link-preview-details">-->
				<!--<div class="link-preview-title">-->
				<!--Link title-->
				<!--</div>-->
				<!--<div class="link-preview-parent-name">-->
				<!--Domain-->
				<!--</div>-->
			<!--</div>-->
			<!--</div>-->


		</div>
	</div>
	<div class = "feed-express-footer">
		<div class = "well feed-express-action">
		<input type='button' onclick="upvoteExpression('{{entry.expression_id}}')" class='btn btn-feed-express btn-upvote btn-primary btn-sm' value='Upvote'/>
		<input type='button' onclick="downvoteExpression('{{entry.expression_id}}')" class='btn btn-feed-express btn-downvote btn-primary btn-sm' value='Downvote'/>
		<input type='button' class='btn btn-feed-express btn-discuss btn-primary btn-sm launch-modal' data-toggle="modal" data-target="#discussModal{{entry.expression_id}}" value='Discuss'/>
		<input type='button' class='btn btn-feed-express btn-broadcast btn-primary btn-sm launch-modal' data-toggle="modal" data-target="#broadcastModal{{entry.expression_id}}" value='Broadcast'/>
		</div>
	</div>
	</div>


<!--ELEMENT THREE-->





<script type="text/javascript">

    function upvoteExpression(expression_id){
        event.preventDefault();
        var csrftoken = $.cookie('csrftoken');

        function csrfSafeMethod(method) {
            // these HTTP methods do not require CSRF protection
            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
        }
        $.ajaxSetup({
        beforeSend: function(xhr, settings) {
            if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                xhr.setRequestHeader("X-CSRFToken", csrftoken);
            }
            }
        });
        var formData = new FormData();
        formData.append('expression_id', expression_id);
        $.ajax({
            url: '/expression/upvote/',
            type: 'POST',
            data: formData,
            cache: false,
            processData: false, // Don't process the files
            contentType: false, // Set content type to false as jQuery will tell the server its a query string request
            success: function(data, textStatus, jqXHR)
            {
                if(typeof data.error === 'undefined')
                {
                    console.log('Upvoted!');
                }
            },
            error: function(jqXHR, textStatus, errorThrown)
            {
                console.log('ERRORS: ' + textStatus);
            }
        });
    }

    function downvoteExpression(expression_id){
        event.preventDefault();
        var csrftoken = $.cookie('csrftoken');

        function csrfSafeMethod(method) {
            // these HTTP methods do not require CSRF protection
            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
        }
        $.ajaxSetup({
        beforeSend: function(xhr, settings) {
            if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                xhr.setRequestHeader("X-CSRFToken", csrftoken);
            }
            }
        });
        var formData = new FormData();
        formData.append('expression_id', expression_id);
        $.ajax({
            url: '/expression/downvote/',
            type: 'POST',
            data: formData,
            cache: false,
            processData: false, // Don't process the files
            contentType: false, // Set content type to false as jQuery will tell the server its a query string request
            success: function(data, textStatus, jqXHR)
            {
                if(typeof data.error === 'undefined')
                {
                    console.log('Downvoted!');
                }
            },
            error: function(jqXHR, textStatus, errorThrown)
            {
                console.log('ERRORS: ' + textStatus);
            }
        });
    }
</script>