<style type="text/css">
 </style>


<div class="well-custom status-box">
    <div class = "post-header">
        <div class = "post-profile-img">
            <div class="post-profile-image-resize">
                <img src="/media/test2.jpg" class="img-rounded"/>
            </div>
        </div>
        <div class = "post-profile-details">
            <div class="post_background">
            </div>
            <div class="profile-name">
                Person Name
            </div>
            <div class="topic-name">
                Topic Name
            </div>
        </div>
    </div>
    <div class = "post-body">
        <div class = "well post-contents">
            <div class="post-text-box">
                Hello
            </div>

            <div class="post-image-resize">
                <img src="/media/test2.jpg" class="img-rounded"/>
            </div>
        </div>
    </div>
    <div class = "post-footer">
        <div class = "well post-action">

             <button type="button" class='btn btn-express-white btn-up btn-primary btn-sm'>
              <span class="glyphicon glyphicon-chevron-up"></span> 1.2K
            </button>

             <button type="button" class='btn btn-express-white btn-discuss btn-primary btn-sm'>
              <span class="glyphicon glyphicon-comment"></span> 1.2K
            </button>

            <button type="button" class='btn btn-express-white btn-broadcast btn-primary btn-sm'>
              <span class="glyphicon glyphicon-volume-up"></span> 161
            </button>

            <button type="button" class='btn btn-express-white btn-collect btn-primary btn-sm'>
              <span class="glyphicon glyphicon-log-in"></span> 29
            </button>

        </div>
    </div>
</div>



<div class="well-custom status-box">
    <div class = "post-header">
        <div class = "post-profile-img">
            <div class="post-profile-image-resize">
                <img src="/media/test2.jpg" class="img-rounded"/>
            </div>
        </div>
        <div class = "post-profile-details">
            <div class="post_background">
            </div>
            <div class="profile-name">
                Profile Name
            </div>
            <div class="topic-name">
                Topic Name!
            </div>
        </div>
    </div>
    <div class = "post-body">
        <div class = "well post-contents">
            <div class="post-text-box">
                Hello again
            </div>


            <div onclick="window.open('{{entry.expression_link}}','mywindow');" style="cursor: pointer;" class = "link-preview-box well">
                <div class = "link-preview-img">
                    <div class="link-preview-image-resize">
                        <img src="/media/test2.jpg" class="img-rounded"/>
                    </div>
                </div>
                <div class = "link-preview-details">
                    <div class="link-preview-title">
                        Title
                    </div>
                    <div class="link-parent-name">
                        Domain
                    </div>
                </div>
            </div>


        </div>
    </div>
    <div class = "post-footer">
        <div class = "well post-action">

            <button type="button" class='btn btn-express-white btn-up btn-primary btn-sm'>
              <span class="glyphicon glyphicon-chevron-up"></span> 1.2K
            </button>

             <button type="button" class='btn btn-express-white btn-discuss btn-primary btn-sm'>
              <span class="glyphicon glyphicon-comment"></span> 1.2K
            </button>

            <button type="button" class='btn btn-express-white btn-broadcast btn-primary btn-sm'>
              <span class="glyphicon glyphicon-volume-up"></span> 161
            </button>

            <button type="button" class='btn btn-express-white btn-collect btn-primary btn-sm'>
              <span class="glyphicon glyphicon-log-in"></span> 29
            </button>
        </div>
    </div>
</div>



<div class="well-custom status-box">
    <div class = "post-header">
        <div class = "post-profile-img">
            <div class="post-profile-image-resize">
                <img src="/media/test2.jpg" class="img-rounded"/>
            </div>
        </div>
        <div class = "post-profile-details">
            <div class="post_background">
            </div>
            <div class="profile-name">
                Profile Name
            </div>
            <div class="topic-name">
                Topic Name!
            </div>
        </div>
    </div>
    <div class = "post-body">
        <div class = "well post-contents">
            <div class="post-text-box">
                Hello again again
            </div>

        </div>
    </div>
    <div class = "post-footer">
        <div class = "well post-action">

            <button type="button" class='btn btn-express-white btn-up btn-primary btn-sm'>
              <span class="glyphicon glyphicon-chevron-up"></span> 1.2K
            </button>

             <button type="button" class='btn btn-express-white btn-discuss btn-primary btn-sm'>
              <span class="glyphicon glyphicon-comment"></span> 1.2K
            </button>

            <button type="button" class='btn btn-express-white btn-broadcast btn-primary btn-sm'>
              <span class="glyphicon glyphicon-volume-up"></span> 161
            </button>

            <button type="button" class='btn btn-express-white btn-collect btn-primary btn-sm'>
              <span class="glyphicon glyphicon-log-in"></span> 29
            </button>
        </div>
    </div>
</div>


<style type="text/css">
</style>


<div class="discover-inline-wrapper">

    <div class="well-custom discover-half-box">
        <div class = "post-header">
            <div class = "post-profile-img">
                <div class="post-profile-image-resize">
                    <img src="/media/test2.jpg" class="img-rounded"/>
                </div>
            </div>
            <div class = "discover-profile-details">
                <div class="post_background">
                </div>
                <div class="discover-profile-name">
                    Profile Name
                </div>
            </div>
        </div>
        <div onclick="window.open('','mywindow');" style="cursor: pointer;" class = "post-body">
            <div class="inline-discover-channel-article-wrapper">
                <div class="dicover-url-image">
                    <img src="/media/test2.jpg" class="img-rounded"/>
                </div>
                <div class="discover-url-title">
                    Title
                </div>
                <div class="discover-url-domain">
                    Domain
                </div>
            </div>  
        </div>
        <div class = "post-footer">
            <div class = "well post-action">

                <button type="button" class='btn btn-discover-white btn-up btn-primary btn-sm'>
                  <span class="glyphicon glyphicon-chevron-up"></span> 1.2K
                </button>

                <button type="button" class='btn btn-discover-white btn-broadcast btn-primary btn-sm'>
                  <span class="glyphicon glyphicon-volume-up"></span> 161
                </button>

                <button type="button" class='btn btn-discover-white btn-collect btn-primary btn-sm'>
                  <span class="glyphicon glyphicon-log-in"></span> 29
                </button>
            </div>
        </div>
    </div>

<style type="text/css">
</style>

    <div class="well-custom discover-half-box">
        <div class = "post-header">
            <div class = "post-profile-img">
                <div class="post-profile-image-resize">
                    <img src="/media/test2.jpg" class="img-rounded"/>
                </div>
            </div>
            <div class = "discover-profile-details">
                <div class="post_background">
                </div>
                <div class="discover-profile-name">
                    Profile Name
                </div>
            </div>
        </div>
        <div onclick="window.open('','mywindow');" style="cursor: pointer;" class = "post-body">
            <div class="inline-discover-channel-article-wrapper">
                <div class="dicover-url-image">
                    <img src="/media/test2.jpg" class="img-rounded"/>
                </div>
                <div class="discover-url-title">
                    Title
                </div>
                <div class="discover-url-domain">
                    Domain
                </div>
            </div>  
        </div>

        <div class = "post-footer">
            <div class = "well post-action">

                <button type="button" class='btn btn-discover-white btn-up btn-primary btn-sm'>
                  <span class="glyphicon glyphicon-chevron-up"></span> 1.2K
                </button>

                <button type="button" class='btn btn-discover-white btn-broadcast btn-primary btn-sm'>
                  <span class="glyphicon glyphicon-volume-up"></span> 161
                </button>

                <button type="button" class='btn btn-discover-white btn-collect btn-primary btn-sm'>
                  <span class="glyphicon glyphicon-log-in"></span> 29
                </button>
            </div>
        </div>
    </div>

</div>