{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
	<!-- <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> -->
	<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script> -->
	<!-- <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> -->
	<link rel="stylesheet" type="text/css" href=" {% static 'bootstrap/css/bootstrap.min.css' %}">
	<link rel="stylesheet" type="text/css" href=" {% static 'css/bootstrap-linkpreview.css' %}">
	<link rel="stylesheet" type="text/css" href=" {% static 'css/chat.css' %}">
	<link rel="stylesheet" href=" {% static 'css/index-page.css' %}">
	<script type="text/javascript" src=" {% static 'js/jquery/jquery.min.js' %}"></script>
	<script async type="text/javascript" src=" {% static 'js/jquery/jquery.cookie.js' %}" defer></script>
	<script type="text/javascript" src= " {% static 'bootstrap/js/bootstrap.min.js' %}"></script>
	<script async type="text/javascript" src=" {% static 'js/bootstrap-linkpreview.js' %}"></script>

</head>

<body>


<div class="container">
     <h2>Chat ( Modal Box )</h2>

    <!-- Trigger the modal with a button -->
    <button type="button" class="btn btn-info btn-lg fpos_bottom_corner" data-toggle="modal" data-target="#myModal">
		<span class="new_chat_label">23</span>Messenger</button>
    <!-- Modal -->
    <div class="modal fade" id="modalDiscussion" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="panel panel-primary">
                <div class="panel-heading"> <span class="glyphicon glyphicon-comment"></span> Discuss
                </div>
                    


                		<div class="feed-express-area">
					<div class = "feed-express-header">
						<div class = "feed-express-profile-img">
						<div class="feed-express-profile-image-resize">
							<img src="/media/test2.jpg" class="img-rounded"/>
						</div>
						</div>
						<div class = "feed-express-profile-details">
						<div class="feed-express-background">                             
						</div>
						<div class="profile-name">
							Nirlendu
						</div>
						<div class="topic-name">
							Topic Name!
						</div>
						</div>
					</div>
					<div class = "feed-express-body">
						<div class = "well feed-express-contents">
						<div class="feed-express-text-box">
							The status!
						</div>

							<!-- <div class="feed-express-image-resize">
							<img src="/media/test2.jpg" class="img-rounded"/>
							</div> -->


							<div onclick="window.open('127.0.0.1:8000/discuss','mywindow');" style="cursor: pointer;" class = "link-preview-box well">
							<div class = "link-preview-img">
								<div class="link-preview-image-resize">
								<img src="{{entry.expression_link_image}}" class="img-rounded"/>
								</div>
							</div>
							<div class = "link-preview-details">
								<div class="link-preview-title">    
								URL TITLE                        
								</div>
								<div class="link-preview-parent-name">
								domain
								</div>
							</div>
							</div>

						</div> 
					</div>
                </div>


                <div class="panel-body" id="reverse_scroll">
                    <ul class="well chat">

                        <li class="left clearfix">
                        	<span class=" chat-resize chat-img pull-left">
                            	<img src="/media/test2.jpg" alt="User Avatar" class="img-rounded" />
							</span>

                            <div class="chat-body clearfix">
                                <div class="header"> <strong class="primary-font">Mike Hussey</strong>  <small class="pull-right text-muted">
                                        <span class="glyphicon glyphicon-time"></span>12 mins ago</small>

                                </div>
                                <p>
                                This discussion has to look good!
								Gordon.
                                </p>
                            </div>
                        </li>

                    </ul>
                </div>

                <div class="panel-footer">
                    <div class="input-group">
                        <input id="btn-input" type="text" class="form-control input-sm" placeholder="Type your message here..." /> <span class="input-group-btn">
                            <button class="btn btn-primary btn-sm" >
                                Send</button>
                        </span>

                    </div>
                </div>
            </div>
        </div>
    </div>
	
<script type='text/javascript'>
	window.onload=function(){
	//When user clicks link
	$('#myModal').on('shown.bs.modal', function () {
	    var elem = document.getElementById('reverse_scroll');
	    elem.scrollTop = elem.scrollHeight;
	});
	}
</script>

</body>