{% load el_pagination_tags %}

{% paginate Expressions %}
{% for entry in Expressions %}
	<div class="well-custom feed-express-area">
	<div class = "feed-express-header">
		<div class = "feed-express-profile-img">
		<div class="feed-express-profile-image-resize">
			<img src="/media/test2.jpg" class="img-rounded"/>
		</div>
		</div>
		<div class = "feed-express-profile-details">
		<div class="feed-express-background">                             
		</div>
		<div class="profile-name">
			{{entry.expression_owner}}
		</div>
		<div class="topic-name">
			Topic Name!
		</div>
		</div>
	</div>
	<div class = "feed-express-body">
		<div class = "well feed-express-contents">
		<div class="feed-express-text-box">
			{{entry.expression_content}}
		</div>

		{% if entry.expression_image != "" %}
			<div class="feed-express-image-resize">
			<img src="{{entry.expression_image}}" class="img-rounded"/>
			</div>
		{% endif %}

		{% if entry.expression_link != "" %}
			<div onclick="window.open('{{entry.expression_link}}','mywindow');" style="cursor: pointer;" class = "link-preview-box well">
			<div class = "link-preview-img">
				<div class="link-preview-image-resize">
				<img src="{{entry.expression_link_image}}" class="img-rounded"/>
				</div>
			</div>
			<div class = "link-preview-details">
				<div class="link-preview-title">    
				{{entry.expression_link_title}}                         
				</div>
				<div class="link-preview-parent-name">
				{{entry.parent_domain}}
				</div>
			</div>
			</div>
		{% endif %}

		</div> 
	</div>
	<div class = "feed-express-footer">
		<div class = "well feed-express-action">
		<input type='button' onclick="upvoteExpression('{{entry.expression_id}}')" class='btn btn-feed-express btn-upvote btn-primary btn-sm' value='Upvote'/>
		<input type='button' class='btn btn-feed-express btn-downvote btn-primary btn-sm' value='Downvote'/>
		<input type='button' class='btn btn-feed-express btn-discuss btn-primary btn-sm' value='Discuss'/>
		<input type='button' class='btn btn-feed-express btn-broadcast btn-primary btn-sm' value='Broadcast'/>
		</div>
	</div>
	</div>
{% endfor %}
{% show_more %}