{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
	<!-- <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> -->
	<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script> -->
	<!-- <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> -->
	<title>Feed</title>
	<link rel="stylesheet" type="text/css" href=" {% static 'bootstrap/css/bootstrap.min.css' %}">
	<link rel="stylesheet" type="text/css" href=" {% static 'css/bootstrap-linkpreview.css' %}">
	<link rel="stylesheet" href=" {% static 'css/index-page.css' %}">
	<link rel="stylesheet" type="text/css" href=" {% static 'css/chat.css' %}">
	<script type="text/javascript" src=" {% static 'js/jquery/jquery.min.js' %}"></script>
	<script async type="text/javascript" src=" {% static 'js/jquery/jquery.cookie.js' %}" defer></script>
	<script type="text/javascript" src= " {% static 'bootstrap/js/bootstrap.min.js' %}"></script>
	<script async type="text/javascript" src=" {% static 'js/bootstrap-linkpreview.js' %}"></script>

</head>
<body> 
	
<!-- Modal 1 -->
	<div class="modal fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h4 class="modal-title" id="myModalLabel">Express youself!</h4>
				</div>
				<form id="post_form" action="/express/update/" method="post" enctype="multipart/form-data">
				{% csrf_token %}
				<div class="modal-body">
					<input type="textarea" id="tagareaID1" class="form-control" placeholder="Tag it">
					</br>
					<!-- <textarea id="textareaID1" class="form-control"></textarea> -->
					<input type="textarea" id="textareaID1" class="form-control">
					<label class="control-label"> </label>
					<div id="preview-container-parent">
						<div id="preview-container"></div>
					</div>
					<!-- <label class="control-label"> </label> -->
					<input id="input-20" name= "file" type="file">
				</div>
				<div class="modal-footer">
					<!-- <button type="button" class="btn btn-default" data-dismiss="modal">Close</button> -->
					<button id = "closebutton" type="button" class="btn btn-primary" data-dismiss="modal">Discard</button>
					<input type="submit" value="Post!" class="btn btn-primary">
				</div>
				</form>
			</div><!-- /.modal-content -->
		</div><!-- /.modal-dialog -->
	</div><!-- /.modal -->


	<nav class="navbar navbar-inverse nav-fixed navbar-fixed-top">
	<nav class="top-nav ">
		<ul class="nav nav-buttons navbar-nav">
			<li role = "presentation"><a href="#">Home</a></li>
			<li role = "presentation"><a href="#">Profile</a></li>
		</ul>
	</nav>
	</nav>


	<div id="wrapper">
		<div class = "left-info-area">

			<div class="left-profile well">
				<div class = "left-profile-info well">
					<div class = "left-profile-img">
						<div class="left-profile-image-resize">
						<img src="/media/test2.jpg" class="img-rounded"/>
						</div>
					</div>
					<div class = "left-profile-details">
						<div id="left-name"><span>Nirlendu Saha</span></div>
					</div>
				</div> 
			</div>

			<div class="well left-profile-about">
				Followers : 100
				</br>
				Ratings : 10
			</div>

			<button class="btn btn-primary btn-md left-express-btn launch-modal" data-toggle="modal" data-target="#myModal1">
			Express
			</button>

			<div class="well left-profile-about">
				Discover
				<div class="well discover-side-follow">
					<div class="discover-side-follow-info">
						<div class="well discover-side-follow-info-head">    
							<div class="discover-side-follow-resize">
								<img src="/media/test2.jpg" class="img-rounded"/>
							</div> 
							<div class="discover-side-follow-name">
								google.com
							</div>                 
						</div>
						<div class="well discover-side-follow-info-head">
							Search anything
						</div> 
					</div>
					<div onclick="window.open('http://127.0.0.1:8000','mywindow');" style="cursor: pointer;" class="follow-button">
						W
					</div>
				</div>


				<div class="well discover-side-follow">
					<div class="discover-side-follow-info">
						<div class="well discover-side-follow-info-head">    
							<div class="discover-side-follow-resize">
								<img src="/media/test2.jpg" class="img-rounded"/>
							</div> 
							<div class="discover-side-follow-name">
								Aristotle
							</div>                 
						</div>
						<div class="well discover-side-follow-info-head">
							Thinker, Rationalist
						</div> 
					</div>
					<div onclick="window.open('http://127.0.0.1:8000','mywindow');" style="cursor: pointer;" class="follow-button">
						U
					</div>
				</div>


				<div class="well discover-side-follow">
					<div class="discover-side-follow-info">
						<div class="well discover-side-follow-info-head">    
							<div class="discover-side-follow-resize">
								<img src="/media/test2.jpg" class="img-rounded"/>
							</div> 
							<div class="discover-side-follow-name">
								Leonidas
							</div>                 
						</div>
						<div class="well discover-side-follow-info-head">
							Warrior, King
						</div> 
					</div>
					<div onclick="window.open('http://127.0.0.1:8000','mywindow');" style="cursor: pointer;" class="follow-button">
						U
					</div>
				</div>


				<div class="well discover-side-follow">
					<div class="discover-side-follow-info">
						<div class="well discover-side-follow-info-head">    
							<div class="discover-side-follow-resize">
								<img src="/media/test2.jpg" class="img-rounded"/>
							</div> 
							<div class="discover-side-follow-name">
								Pompeii
							</div>                 
						</div>
						<div class="well discover-side-follow-info-head">
							Roman City
						</div> 
					</div>
					<div onclick="window.open('http://127.0.0.1:8000','mywindow');" style="cursor: pointer;" class="follow-button">
						T
					</div>
				</div>


			<div class="well discover-side-follow">
				<div class="discover-side-follow-info">
				<div class="well discover-side-follow-info-head">    
					<div class="discover-side-follow-resize">
					<img src="/media/test2.jpg" class="img-rounded"/>
					</div> 
					<div class="discover-side-follow-name">
					greekmuseum.gr
					</div>                 
				</div>
				<div class="well discover-side-follow-info-head">
				National Museum
				</div> 
				</div>
				<div onclick="window.open('http://127.0.0.1:8000','mywindow');" style="cursor: pointer;" class="follow-button">
				W
				</div>
			</div>


			<div class="well discover-side-follow">
				<div class="discover-side-follow-info">
				<div class="well discover-side-follow-info-head">    
					<div class="discover-side-follow-resize">
					<img src="/media/test2.jpg" class="img-rounded"/>
					</div> 
					<div class="discover-side-follow-name">
					Greek History
					</div>                 
				</div>
				<div class="well discover-side-follow-info-head">
				Old Greece
				</div> 
				</div>
				<div onclick="window.open('http://127.0.0.1:8000','mywindow');" style="cursor: pointer;" class="follow-button">
				T
				</div>
			</div>
		</div>
	</div>



	<div class="well" id="feed-area">
		<div class="well feed-express-area">
			Hey, Nirlendu!
		</div>
		{% include page_template %}

		{% block js %}
		    <script src="{% static 'js/el-pagination.js' %}"></script>
		    <script>
		    	$.endlessPaginate({
		    		paginateOnScroll: true,
		    		paginateOnScrollMargin: 20,
		    	});
		    </script>
	    {% endblock %}
	</div>
	<script type="text/javascript">
		
		function upvoteExpression(expression_id){
			event.preventDefault();
			event.stopPropagation();
			var csrftoken = $.cookie('csrftoken');
		
			function csrfSafeMethod(method) {
				// these HTTP methods do not require CSRF protection
				return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
			}
			$.ajaxSetup({
			beforeSend: function(xhr, settings) {
				if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
					xhr.setRequestHeader("X-CSRFToken", csrftoken);
				}
				}
			});
			var formData = new FormData();
			formData.append('expression_id', expression_id);
			$.ajax({
				url: '/expression/upvote/',
				type: 'POST',
				data: formData,
				cache: false,
				processData: false, // Don't process the files
				contentType: false, // Set content type to false as jQuery will tell the server its a query string request
				success: function(data, textStatus, jqXHR)
				{
					if(typeof data.error === 'undefined')
					{
						console.log('Upvoted!');
					}
				},
				error: function(jqXHR, textStatus, errorThrown)
				{
					console.log('ERRORS: ' + textStatus);
				}
			});
		}

		function downvoteExpression(expression_id){
			event.preventDefault();
			var csrftoken = $.cookie('csrftoken');
		
			function csrfSafeMethod(method) {
				// these HTTP methods do not require CSRF protection
				return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
			}
			$.ajaxSetup({
			beforeSend: function(xhr, settings) {
				if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
					xhr.setRequestHeader("X-CSRFToken", csrftoken);
				}
				}
			});
			var formData = new FormData();
			formData.append('expression_id', expression_id);
			$.ajax({
				url: '/expression/downvote/',
				type: 'POST',
				data: formData,
				cache: false,
				processData: false, // Don't process the files
				contentType: false, // Set content type to false as jQuery will tell the server its a query string request
				success: function(data, textStatus, jqXHR)
				{
					if(typeof data.error === 'undefined')
					{
						console.log('Downvoted!');
					}
				},
				error: function(jqXHR, textStatus, errorThrown)
				{
					console.log('ERRORS: ' + textStatus);
				}
			});
		}
	</script>
	<div class = "right-info-area well">
	Some stuff here


	</div>
	</div>
</body>
	<script>
	$('#myModal1').on('show.bs.modal', function () {
		$('#textareaID1').focus();
	})
	$(document).on("hidden.bs.modal", ".modal:not(.local-modal)", function (e) {
		$(this).find('form').trigger('reset');
		$('#preview-container').remove();
		$('#preview-container-parent').append('<div id=' + '"preview-container"' + '></div>');
	});
	$(document).on('ready', function() {
		$("#input-20").fileinput({
			browseClass: "btn btn-primary btn-block",
			showCaption: false,
			showRemove: false,
			showUpload: false
		});
	});
	window.onload=function(){
		$('#myModal').on('shown.bs.modal', function () {
			var elem = document.getElementById('reverse_scroll');
			elem.scrollTop = elem.scrollHeight;
		});
	}
	</script>
	<script async type="text/javascript" src=" {% static 'js/main.js' %}"></script>
	<script type="text/javascript" src=" {% static 'js/fileinput.js' %}"></script>
	<script type="text/javascript" src=" {% static 'js/loadCSS.js' %}"></script>
	<script id="loadcss">
		loadCSS( "{% static 'css/fileinput.css' %}");
		loadCSS( "{% static 'css/chat.css' %}");
	</script>
</html>



